
/* nav-bar section */
.nav{
    width: 1140px;
    display: flex;
    justify-items: center;
   justify-content: space-between;
   /* border: 1px solid ; */
   margin-top: 30px;
   margin-left: 150px;
   margin-right: 150px;
}

.nav a{
    width: 415px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    text-emphasis-color: none;
    padding-left: 18px;
   
    
}

.nav-item1{
    width: 46px;
    height: 24px;
    color: #252432;
}
.nav-item2{
    width: 39px;
    width: 24px;
    color: #8987A1;
}

/* banner section */
.banner-title{
    width: 517px;
    font-weight: 800px;
    font-size: 65px;
    color: #000000;
}   


.extra{
    font-weight: 800px;
    font-size: 65px;
    color: #E95A08;
}
.banner-description{
    width: 570px;
    height: auto;
    font-size: 25px;
     color: #000000;
}
.img-container{
    width: 570px;
    margin-top: 87px;
}
.banner{
    width: 1140px;
    display: flex;
    margin-left: 200px;
    margin-right: 70px;
    margin-top: 221px;
}
.banner-container{
    margin-top: 163px;
}


.plant1{

    border: 1px solid blue;
}


.plant{
    font-weight: bold;
    font-size: 50px;
}
.plant-title{
    font-weight:bold;
    font-size: 50px;
    color: #000000;
    margin-bottom: 16px;
}

.plants-section{
    width: 1140px;
    text-align: center;
    justify-content: center;
    margin: auto 150px;
}
.plant-description{
    /* margin: 16px 126px; */
    
    /* margin-left: 126px;
    margin-right: 126px; */
}